#hd1{
    background-color: aquamarine;
}

.paras{
    background-color: rgb(190, 222, 14);
}

.paras1{
    color: rgb(71, 42, 143);
}

#hd2{
    background-color: rgb(21, 213, 82);
}

#main1{
    background-color: burlywood;
}

#para{
    color: rgb(15, 46, 146);
}

#main2{
    background-color: cornflowerblue;
}

.list{
    color: rgb(33, 193, 126);
}

#main3{
    background-color: cadetblue;
}

.listed{
    color: chocolate;
}

#exp{
    background-color: coral;
}

#f{
    color: rgb(148, 148, 98);
}

#main4{
    background-color: darkkhaki;
}

.lust{
    color: indigo;
}

#main5{
    background-color: darkorchid;
}

#paragraph{
    color: dodgerblue;
}